<html>
<head>
  <title>pictograph</title>
  <style type="text/css">

html, body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  color: rgb(100, 100, 100);
  margin: 0;
  margin-bottom: 10px;
}

header {
  padding: 20px;
  background-color: rgb(200, 200, 200);
}

h1.title {
  margin-bottom: 0;
}

  </style>
</head>
<body>
  <header>
    <h1 class="title">pictograph</h1>
  </header>
</body>
</html>